form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    #title {
        margin: 0 0 10px 0;
        padding: 5px;
        border: 0;
        border-radius: 5px;
        background-color: #f8f8f8;
    }
    #body {
        min-height: 50px;
        padding: 5px;
        border: 0;
        border-radius: 5px;
        resize: none;
        background-color: #f8f8f8;
        overflow: hidden;
    }
    .btnForm {
        display: flex;
        margin: 10px 0 0 0;
        gap: 10px;
        button {
            padding: 5px 10px 5px 10px;
            border: 2px solid #16a085;
            border-radius: 5px;
            background-color: #16a085;
            color: white;
            font-size: 1.6rem;
            cursor: pointer;
            &:hover {
                border: 2px solid var(--primary);
            }
            &:active {
                border: 2px solid white;
            }
        }

        a {
            padding: 5px 10px 5px 10px;
            border: 2px solid #16a085;
            border-radius: 5px;
            background-color: #16a085;
            color: white;
            cursor: pointer;
            &:hover {
                border-color: var(--primary);
            }
            &:active {
                border-color: white;
            }
        }
    }
}
