form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    #title {
        margin: 0 0 10px 0;
        padding: 5px;
        border: 0;
        border-radius: 5px;
        background-color: #f8f8f8;
    }
    #body {
        min-height: 50px;
        padding: 5px;
        border: 0;
        border-radius: 5px;
        resize: none;
        background-color: #f8f8f8;
        overflow: hidden;
    }
    .btnForm {
        display: flex;
        margin: 10px 0 0 0;
        gap: 10px;
        button {
            padding: 5px 10px 5px 10px;
            border: 2px solid #16a085;
            border-radius: 5px;
            background-color: #16a085;
            color: white;
            font-size: 1.6rem;
            cursor: pointer;
        }
        button:hover {
            border: 2px solid var(--primary);
        }
        button:active {
            border: 2px solid white;
        }
        a {
            padding: 5px 10px 5px 10px;
            border: 2px solid #16a085;
            border-radius: 5px;
            background-color: #16a085;
            color: white;
            cursor: pointer;
        }
        a:hover {
            border-color: var(--primary);
        }
        a:active {
            border-color: white;
        }
    }
}
.pop {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    animation: togglePop 0.1s;
    .popSuccess {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--primary);
        border: 1px solid white;
        border-radius: 5px;
        .ico {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            border: 1px solid white;
            border-radius: 50px;
        }
    }
    .popError {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: rgb(211, 14, 14);
        border: 1px solid white;
        border-radius: 5px;
        .ico {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            border: 1px solid white;
            border-radius: 50px;
        }
        .popClose {
            padding: 2px;
            cursor: pointer;
            color: grey;
        }
    }
    @keyframes togglePop {
        from {
            top: 50px;
        }
        to {
            top: 60px;
        }
    }
}
